---
---

@import "main";

// Custom styled headings with yellow underline
h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #FDB813; // ASU Gold/Yellow
  }
}

// Alternative: Only style specific headings
.styled-heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #FDB813;
  }
}
